{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="myform">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>

        <div class="form-group">
            <input id="pw" class="form-control" name="password" placeholder="Password"
                   type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
        </div>
        <div id="prompt">
            <h4>Password must contain the following:</h4>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>

        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Retype password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>

    <script>
        var pw = document.getElementById("pw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        pw.onfocus = function() {
            document.getElementById("prompt").style.display = "block";
        }
        pw.onblur = function() {
            document.getElementById("prompt").style.display = "none";
        }

        pw.onkeyup = function() {
            var lowerCaseLetters = /[a-z]/g;
            if(pw.value.match(lowerCaseLetters)) {
              letter.classList.remove("invalid");
              letter.classList.add("valid");
            } else {
              letter.classList.remove("valid");
              letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if(pw.value.match(upperCaseLetters)) {
              capital.classList.remove("invalid");
              capital.classList.add("valid");
            } else {
              capital.classList.remove("valid");
              capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if(pw.value.match(numbers)) {
              number.classList.remove("invalid");
              number.classList.add("valid");
            } else {
              number.classList.remove("valid");
              number.classList.add("invalid");
            }

            // Validate length
            if(pw.value.length >= 8) {
              length.classList.remove("invalid");
              length.classList.add("valid");
            } else {
              length.classList.remove("valid");
              length.classList.add("invalid");
            }
        }
    </script>
{% endblock %}
