{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-control" name="symbol">
            <option value="" disabled selected> Select A Stock </option>
            {% for stock in stocks %}
                <option value={{ stock['stock'] }}> {{ stock['stock'] }} </option>
            {% endfor %}
        </select>
        <br/><br/>
        <div class="form-group">
            <input class="form-control" name="shares"
                   placeholder="Number of shares" type="number" min="1" required />
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
